*{
  font-family: 'Audiowide', cursive;

}

body{
 background-color: #404040;
 color: white;
}

h1{
font-size: 50px;

}

.App {

  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container input[type=text], select {
    width: 15%;
    padding: 20px 20px;
    margin: 8px 20px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   font-size: 16px;
}

.button {
    background-color: #262626;
    margin: 20px;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


select{
  background-color: #333333;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      display: flex;
      margin-left: 600px;
}

.pics {
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
  border: 2px solid white;
  box-sizing: border-box;
  cursor: pointer
}
